/* ==========================================================================
   OVERRIDES
   ========================================================================== */
/**
 * Last-resort CSS classes to override existing rules go here.
 * These are last-resort uses, some may not strictly adhere to BEM standards,
 * because they may rewrite CSS from external sources.
 *
 * If you need to create an override, please include documentation stating its purpose.
 */
/* All devices */
/* Overriding pagination styles, removing the .row negative margins */
.react-bs-table-pagination > .row {
  margin: 0; }

/* Overriding bootstrap .show class, the default value block currently breaks our layout */
.show {
  display: inline-block !important; }

/* Overriding the pagination widget for mobile, making it into two rows instead of two columns */
.col-md-6.col-xs-6.col-sm-6.col-lg-6 {
  width: 100%; }
