/** VARIABLES
  * This Sass file contains imports and variable declarations
  * for the application's color palette, as well as font declarations
  * with their specific sizes and weights.
  */
/**
 * Font Import
 * Font source: https://fonts.google.com/selection?selection.family=Montserrat
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
/**
 * Font size variables
 */
/**
 * Font weight variables
 */
/**
 * Color variables
 */
/* Basic colors */
/* Main colors */
/* Main grayscale */
/* Accent colors */
/* Darker accent colors */
/* Assigning colors to classes of the same name, as well as their hover version */
.green {
  background-color: #00AA5D;
  color: #00AA5D; }

.indigo {
  background-color: #6C63AC;
  color: #6C63AC; }

.magenta {
  background-color: #DC257F;
  color: #DC257F; }

.red {
  background-color: #E52527;
  color: #E52527; }

.lime {
  background-color: #73a22c;
  color: #73a22c; }

.teal {
  background-color: #0EB8A0;
  color: #0EB8A0; }

.warmgray {
  background-color: #7E7373;
  color: #7E7373; }

.purple {
  background-color: #A04C9D;
  color: #A04C9D; }

.orange {
  background-color: #F6851F;
  color: #F6851F; }

.gray {
  background-color: #787678;
  color: #787678; }

.category.green:hover {
  background-color: #00884B; }

.category.indigo:hover {
  background-color: #473793; }

.category.magenta:hover {
  background-color: #A91F62; }

.category.red:hover {
  background-color: #AB2323; }

.category.lime:hover {
  background-color: #5B8121; }

.category.teal:hover {
  background-color: #008673; }

.category.warmgray:hover {
  background-color: #605757; }

.category.purple:hover {
  background-color: #7732BB; }

.category.orange:hover {
  background-color: #D97D27; }

.category.gray:hover {
  background-color: #59585A; }
