/** VARIABLES
  * This Sass file contains imports and variable declarations
  * for the application's color palette, as well as font declarations
  * with their specific sizes and weights.
  */
/**
 * Font Import
 * Font source: https://fonts.google.com/selection?selection.family=Montserrat
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
/**
 * Font size variables
 */
/**
 * Font weight variables
 */
/**
 * Color variables
 */
/* Basic colors */
/* Main colors */
/* Main grayscale */
/* Accent colors */
/* Secondary accent colors */
/* Assigning colors to classes of the same name, as well as their hover version */
.green {
  background-color: #00AA5D;
  color: #00AA5D; }

.indigo {
  background-color: #6C63AC;
  color: #6C63AC; }

.magenta {
  background-color: #DC257F;
  color: #DC257F; }

.red {
  background-color: #E52527;
  color: #E52527; }

.lime {
  background-color: #73a22c;
  color: #73a22c; }

.teal {
  background-color: #0EB8A0;
  color: #0EB8A0; }

.warmgray {
  background-color: #7E7373;
  color: #7E7373; }

.purple {
  background-color: #A04C9D;
  color: #A04C9D; }

.orange {
  background-color: #F6851F;
  color: #F6851F; }

.gray {
  background-color: #787678;
  color: #787678; }

.green-hover {
  background-color: #00884B;
  color: #00884B; }

.indigo-hover {
  background-color: #5B50A2;
  color: #5B50A2; }

.magenta-hover {
  background-color: #A91F62;
  color: #A91F62; }

.red-hover {
  background-color: #AB2323;
  color: #AB2323; }

.lime-hover {
  background-color: #5B8121;
  color: #5B8121; }

.teal-hover {
  background-color: #00A78F;
  color: #00A78F; }

.warmgray-hover {
  background-color: #605757;
  color: #605757; }

.purple-hover {
  background-color: #7732BB;
  color: #7732BB; }

.orange-hover {
  background-color: #D97D27;
  color: #D97D27; }

.gray-hover {
  background-color: #59585A;
  color: #59585A; }
