
/* ==========================================================================
   DATA TABLE
   ========================================================================== */

/**
 * Navigation located at the left of the browser on desktop and tablet, and
 * hidden inside a hamburger icon on mobile, contains the main link categories.
 */

/* All devices */

.dataTable {
    min-width: 960px;
    width: 100%;
}

.dataTable__item {
    display: block;
    overflow: hidden;
}

.dataTable__row--content {
    width: 100%;
    display: inline-flex;
    border-bottom: 1px solid $cool-gray-1;
    cursor: pointer;
}

.dataTable__row--content:hover {
    background-color: $cool-gray-1;
}

.dataTable__row--header {
    width: 100%;
    display: inline-flex;
    border-bottom: 1px solid $blue-60;
    text-transform: uppercase;
    @include font($font-size-content, $font-weight-bold, $blue-60);
}

/* Mobile-specific styles */
@include mobile {
    .dataTable__row--content {
        padding: 5px 0;
    }

    .dataTable__row--header {
        padding: 0;
        font-size: 11px;
    }
}

/* Tablet-specific styles */
@include tablet {
    .dataTable__row--content {
        padding: 15px 0;
    }

    .dataTable__row--header {
        padding: 0 0 15px 0;
        font-size: 11px;
    }
}

/* Desktop-specific styles */
@include desktop {

}
