/* ==========================================================================
   TOOLBOX
   ========================================================================== */

/**
 * The multi-level dropdown toolbox
 */

/* All devices */
.toolBox__link {
    color: $white;
    font-size: $font-size-content;
}

/* Mobile */
@include mobile {
    .toolBox--mobileHidden {
        display: none;
    }

    .toolBox {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
    }

    .toolBox__caret {
        color: $peach-40;
        padding-right: 10px;
        font-size: 25px;
    }

    .toolBox__caret,
    .toolBox__backLink {
        display: inline-block;
        vertical-align: middle;
    }

    .toolBox__wrapper.toolBox__wrapper--toggle {
        left: 0;
    }

    .toolBox__wrapper {
        display: inline-block;
        position: absolute;
        top: 45px;
        left: 100%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        -webkit-transition: left 0.5s ease-out;
        -moz-transition: left 0.5s ease-out;
        -o-transition: left 0.5s ease-out;
        transition: left 0.5 ease-out;
    }

    .toolBox__item.toolBox__back {
        padding: 10px 20px 11px;
    }

    .toolBox__item {
        padding: 15px 20px;
        border-bottom: 1px solid $blue-50;
        background-color: $blue-60;
    }

    .toolBox__group {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        overflow: visible;
        -webkit-transition: left 0.5s ease-out;
        -moz-transition: left 0.5s ease-out;
        -o-transition: left 0.5s ease-out;
        transition: left 0.5s ease-out;
    }

    /** These nested CSS class represent the nested navigation levels in the tool box.
     * A new level of depth has to be added for each sub link group in the navigation,
     * mainly to keep them off the screen and not break our navigation.
     */
     .toolBox__group .toolBox__group,
     .toolBox__group .toolBox__group .toolBox__group,
     .toolBox__group .toolBox__group .toolBox__group .toolBox__group {
         left: 100%;
         visibility: hidden;
     }

    /** Inactive items slide out of the window
     * This is currently set to support 5 levels of depth of navigation, if more levels
     * of depth need to be added, just add another line with another nested
     * .toolBox__group in it.
     */
    .toolBox__group.active { left: 0; }
    .toolBox__group .toolBox__group.active,
    .toolBox__group .toolBox__group .toolBox__group.active,
    .toolBox__group .toolBox__group .toolBox__group .toolBox__group.active {
        left: 100%;
        visibility: visible;
    }

    /**
     * Active items slide into the window
     * This is currently set to support 5 levels of depth of navigation, if more levels
     * of depth need to be added, just add another line with another nested
     * .toolBox__group in it.
     */
    .toolBox__group.inactive { left: -100%; }
    .toolBox__group .toolBox__group.inactive,
    .toolBox__group .toolBox__group .toolBox__group.inactive,
    .toolBox__group .toolBox__group .toolBox__group .toolBox__group.inactive { left: 0; }
}

@include tablet {
    .toolBox--desktopHidden,
    .toolBox__item.toolBox__back {
        display: none;
    }

    .toolBox {
        display: inline-block;
        position: absolute;
        right: 129px;
    }

    .toolBox__group.toolBox__barDesktop {
        width: 100%;
        left: 0;
    }

    .toolBox__group {
        display: block;
        position: relative;
        right: 0;
        width: auto;
        height: 42px;
        overflow: visible;
    }

    .toolBox__item {
        display: inline-block;
        position: relative;
        width: 150px;
        float: left;
        background-color: $blue-60;
        padding: 0;
    }



    .toolBox__link {
        display: inline-block;
        padding: 14px 50px 15px;
        color: $white;
    }

    .toolBox__link:hover {
        background-color: $blue-50;
        text-decoration: none;
        color: $white;
    }

    /* First child level */
    .toolBox__group--child {
        display: none;
        position: relative;
        left: 0;
        width: 200px;
        min-height: 250px;
        height: 300px;
        background-color: $blue-60;
        border-right: 1px solid $peach-40;
        overflow: visible;
    }

    .toolBox__item--child {
        position: relative;
        width: 200px;
        // border-right: 1px solid $peach-40;

    }

    .toolBox__link--child {
        display: inline-block;
        width: 100%;
        padding: 20px 30px;
        line-height: $font-size-medium;
        color: $white;
    }


    //
    // .toolBox__group--child {
    //     position: absolute;
    // }

    .toolBox__group--child.active { /* interesting */
        left: -200px;
        display: block;
    }

    .toolBox__group--child .toolBox__group--child.active {
        left: 200px;
        display: block;
    }


    .toolBox__group--child .toolBox__group--child {
        position: absolute;
        left: 200px;
    }

    .toolBox__group--child .toolBox__group--child .toolBox__group--child {
        position: absolute;
        left: 200px;
    }

    .toolBox__group--child .toolBox__group--child {
        position: absolute;
        top: 0;
    }

}
